.alert {
  position: fixed;
  bottom: 0;
  width: 76%;

  border-radius: 24px;
  border: none;
  box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);

  color: #7A7A7A;
  backdrop-filter: blur(10px);
  background-color: rgba(217, 249, 252, 0.6);

  flex-shrink: 0;

  margin-bottom: 48px;
  z-index: 9999;

  animation: fadeIn 2s ease-in-out forwards;
}
