.navbar {
  position: fixed;
  bottom: 0;

  width: 76%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 48px;

  padding: 12px 16px;
  margin-bottom: 40px;

  flex-shrink: 0;
}

.nav-icon {
  font-size: 24px;
}

.nav-icon.nav-active-highlight {
  color: #4cc338;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.2));
}

.nav-title {
  font-size: 12px;
}

.nav-title.nav-active-highlight {
  color: #4cc338;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.2));
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: none;
//   margin-top: auto;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.no-navbar .content {
  /* Adds padding to the bottom ONLY when the navbar is hidden */
  padding-bottom: env(safe-area-inset-bottom, 20px);
}
