// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Components
@import "components/animations";
@import "components/buttons";
@import "components/cards";
@import "components/index";
@import "components/map";

// Pages
@import "walks/edit";
@import "pages/index";
@import "pages/suggestions";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  margin: 0 0 160px 0;

  font-family: 'Quicksand', 'Arial';

  background-image: linear-gradient(to bottom,
   #D9F9FC 0%,
   #D9F9FC 20%,
   #EAFEE3 100%);
}
